###Input shaper###
#[include ]#
#[include input_shaper]
#shaper_type_x = mzv
#shaper_freq_x = 45.4
#shaper_type_y = zv
#shaper_freq_y = 31.6
##########
[include sfs2.cfg]
[include mainsail.cfg]
[include macros.cfg]
#[include led_progress.cfg]
[include timelapse.cfg]
[include KAMP_Settings.cfg]
[include z_2motor.cfg]
#[include z_4motor.cfg]

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes

[thermistor Mein_Bett]
temperature1: 22
resistance1: 116500
temperature2: 63
resistance2: 39100
temperature3: 73.6
resistance3: 31660

[thermistor Trianglelab-NTC100K-B3950]
temperature1: 25
resistance1: 103180
temperature2: 150
resistance2: 1366.2
temperature3: 250
resistance3: 168.6

[printer]
kinematics: corexy
max_velocity: 200
#max_accel: 3000 
max_accel: 2500 
max_z_velocity: 5
max_z_accel: 100

[exclude_object]

[gcode_arcs]
resolution: 1.0

#[neopixel NEOPIXEL]
#pin: EBBCan:PD3
#chain_count: 3

[mcu]
canbus_uuid=1ce8e0a1acd5

[mcu BTT_CB1]
serial: /tmp/klipper_host_mcu

[mcu EBBCan]
canbus_uuid=ac7f86c598d7

#[filament_switch_sensor Filamentsensor]
#switch_pin: EBBCan:gpio21
#pause_on_runout: false
#runout_gcode:
#    PARK_MACRO
#    M117 Out of Filament
#insert_gcode:
#    M117 Resuming
#    RESUME_MACRO
#event_delay: 3
#pause_delay: 0.5


[firmware_retraction]
retract_length: 1.2
retract_speed: 60
unretract_extra_length: 0
unretract_speed: 60

## RESONANZTEST
[adxl345]
cs_pin: EBBCan:gpio1
spi_software_sclk_pin: EBBCan:gpio2
spi_software_mosi_pin: EBBCan:gpio0
spi_software_miso_pin: EBBCan:gpio3
axes_map: z,-y,x

[resonance_tester]
probe_points: 300, 325, 20
accel_chip: adxl345

## NEOPIXEL SB LED
[neopixel Hotend_LED]
pin: EBBCan:gpio16
chain_count: 3

## BETT
[heater_bed]
heater_pin: PF5
sensor_pin: PB1
sensor_type: Mein_Bett
#sensor_type: NTC 100K MGB18-104F39050L32
#sensor_type: Honeywell 100K 135-104LAG-J01
#sensor_type: EPCOS 100K B57560G104F
#sensor_type: ATC Semitec 104NT-4-R025H42G
#sensor_type: ATC Semitec 104GT-2
#sensor_type: Generic 3950
#sensor_type: SliceEngineering 450
#control: watermark
min_temp: -20
max_temp: 200

[bed_mesh]
speed: 200
probe_count: 12, 12
horizontal_move_z: 5
algorithm: bicubic
bicubic_tension: 0.2
mesh_min : 10, 10
mesh_max :580, 580
mesh_pps: 3, 3
#fade_start: 1
#fade_end: 20
#fade_target: 0

[safe_z_home]
home_xy_position: 320, 295
speed: 100
z_hop: 10
z_hop_speed: 5

## LUEFTER UND SENSOREN

[multi_pin TMC2209_fans]
pins: PF6, PF8
[fan]
pin: EBBCan:gpio13

[heater_fan hotend_Lüfter]
pin: EBBCan:gpio14
heater: extruder
heater_temp: 50.0

[temperature_fan SB2209_RP2040_CAN_Board]
sensor_type: Generic 3950
sensor_pin: EBBCan:gpio28
pin: EBBCan:gpio6
min_temp: 0
max_temp: 100
target_temp: 50.0             
hardware_pwm: False
shutdown_speed: 0.0
kick_start_time: 0.5
off_below: 0.19
max_speed: 1.0
min_speed: 0.0
control: pid
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5
pid_deriv_time: 2.0

[temperature_fan Manta_M8P_BTT_CB1]
sensor_type: temperature_host
min_temp: 0
pin: PA4
max_temp: 80.0                
target_temp: 50.0             
hardware_pwm: False
shutdown_speed: 0.0
kick_start_time: 1.0
off_below: 0.19
max_speed: 0.7
min_speed: 0.0
control: pid
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5
pid_deriv_time: 2.0

[temperature_fan Manta_M8P_TMC2209]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100
pin: multi_pin:TMC2209_fans
max_temp: 80.0                
target_temp: 50.0            
min_temp: 0
hardware_pwm: False
shutdown_speed: 0.0
kick_start_time: 0.5
off_below: 0.19
max_speed: 1.0
min_speed: 0.0
control: pid
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5
pid_deriv_time: 2.0

## HOTEND
[extruder]
step_pin: EBBCan:gpio18
dir_pin: !EBBCan:gpio19
enable_pin: !EBBCan:gpio17
microsteps: 16
rotation_distance: 4.41802
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: EBBCan:gpio7
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBCan:gpio27
max_power: 0.65
pressure_advance: 0.046
pressure_advance_smooth_time: 0.035
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp:-30
max_temp: 300

[tmc2209 extruder]
uart_pin: EBBCan:gpio20
run_current: 0.650

## VORON TAP
[probe]
pin: ^EBBCan:gpio22
#z_offset: -2.08
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}


## X-Y-Z-ACHSEN
# Motor1
[stepper_x]
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC14
microsteps: 16
#rotation_distance: 39.80
rotation_distance: 40
#endstop_pin: ^EBBCan:gpio24
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: 0
position_max: 640
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC13
diag_pin: ^PF4 
run_current: 1.15
driver_SGTHRS: 74

# Motor2
[stepper_y]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
#endstop_pin: PF3
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: 0
position_max: 590
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PE3
diag_pin: ^PF3
run_current: 1.15
driver_SGTHRS: 74




## BOARD-PINS
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 45.4
#*# shaper_type_y = zv
#*# shaper_freq_y = 31.6
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.717
#*# pid_ki = 2.284
#*# pid_kd = 78.143
#*#
#*# [probe]
#*# z_offset = -0.705
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 56.430
#*# pid_ki = 0.274
#*# pid_kd = 2907.544
#*#
#*# [bed_mesh Kalt]
#*# version = 1
#*# points =
#*# 	-0.037847, 0.007153, 0.004653, 0.015903, 0.015903, -0.049097, 0.007153, 0.018403, 0.079653, 0.105903
#*# 	-0.012847, 0.010903, 0.007153, 0.022153, -0.004097, -0.001597, -0.016597, 0.019653, 0.062153, 0.113403
#*# 	0.139653, 0.104653, 0.093403, 0.099653, 0.083403, 0.052153, 0.050903, 0.045903, 0.107153, 0.144653
#*# 	0.139653, 0.060903, 0.064653, 0.055903, 0.024653, 0.023403, 0.009653, -0.004097, 0.053403, 0.127153
#*# 	0.177153, 0.108403, 0.080903, 0.093403, 0.063403, 0.039653, 0.044653, 0.052153, 0.108403, 0.162153
#*# 	0.165903, 0.080903, 0.052153, 0.065903, 0.015903, -0.001597, 0.038403, 0.042153, 0.070903, 0.155903
#*# 	0.183403, 0.120903, 0.068403, 0.079653, 0.060903, 0.038403, 0.070903, 0.077153, 0.124653, 0.189653
#*# 	0.095903, 0.064653, 0.028403, 0.054653, 0.042153, 0.032153, 0.037153, 0.057153, 0.097153, 0.193403
#*# 	0.092153, 0.060903, 0.044653, 0.052153, 0.057153, -0.007847, 0.010903, 0.059653, 0.133403, 0.263403
#*# 	0.059653, 0.024653, -0.005347, 0.032153, 0.128403, 0.132153, 0.129653, 0.162153, 0.187153, 0.318403
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 579.98
#*# min_y = 10.0
#*# max_y = 579.98
#*#
#*# [bed_mesh 50Grad]
#*# version = 1
#*# points =
#*# 	-0.250000, -0.151250, -0.097500, -0.048750, -0.011250, 0.021250, 0.032500, 0.028750, 0.046250, 0.056250, 0.090000, 0.062500
#*# 	-0.227500, -0.180000, -0.117500, -0.091250, -0.046250, -0.026250, -0.005000, 0.003750, 0.001250, 0.020000, 0.020000, 0.035000
#*# 	-0.127500, -0.098750, -0.073750, -0.057500, -0.036250, -0.005000, -0.012500, -0.003750, -0.021250, -0.011250, -0.007500, 0.025000
#*# 	-0.128750, -0.098750, -0.073750, -0.063750, -0.025000, -0.013750, 0.002500, -0.012500, -0.015000, -0.007500, 0.010000, 0.018750
#*# 	-0.065000, -0.042500, -0.031250, 0.002500, 0.038750, 0.047500, 0.027500, 0.021250, -0.016250, -0.032500, -0.035000, -0.026250
#*# 	-0.130000, -0.113750, -0.118750, -0.130000, -0.113750, -0.102500, -0.087500, -0.065000, -0.056250, -0.048750, -0.047500, -0.020000
#*# 	-0.107500, -0.096250, -0.095000, -0.067500, -0.031250, -0.035000, -0.052500, -0.053750, -0.046250, -0.041250, -0.025000, -0.003750
#*# 	-0.120000, -0.151250, -0.127500, -0.130000, -0.128750, -0.125000, -0.137500, -0.131250, -0.132500, -0.100000, -0.083750, -0.042500
#*# 	-0.150000, -0.113750, -0.137500, -0.116250, -0.100000, -0.057500, -0.028750, -0.027500, -0.040000, -0.041250, -0.051250, -0.017500
#*# 	-0.242500, -0.240000, -0.243750, -0.185000, -0.177500, -0.175000, -0.167500, -0.141250, -0.136250, -0.110000, -0.110000, -0.091250
#*# 	-0.251250, -0.180000, -0.161250, -0.122500, -0.106250, -0.087500, -0.062500, -0.027500, -0.026250, -0.018750, -0.067500, -0.035000
#*# 	-0.268750, -0.268750, -0.265000, -0.216250, -0.136250, -0.005000, 0.023750, 0.017500, 0.021250, 0.028750, 0.018750, 0.052500
#*# x_count = 12
#*# y_count = 12
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.15
#*# max_x = 579.94
#*# min_y = 10.0
#*# max_y = 579.91
